In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
# Read all the sheets from the excel file.
students = pd.read_excel('China.xlsx', sheet_name='Students')
classes = pd.read_excel('China.xlsx', sheet_name='Classes')
tests = pd.read_excel('China.xlsx', sheet_name='Tests')
test_results = pd.read_excel('China.xlsx', sheet_name='Test Results')
attendance = pd.read_excel('China.xlsx', sheet_name='Attendance')
hw = pd.read_excel('China.xlsx', sheet_name='Homework')
hw_results = pd.read_excel('China.xlsx', sheet_name='Homework Assignments')
participation = pd.read_excel('China.xlsx', sheet_name='Participation')

In [3]:
dfVOL = pd.merge(students, participation, on = 'STUDENT_ID')
value_counts = dfVOL['STUDENT_ID'].value_counts()
# converting to df and assigning new names to the columns
df_value_counts = pd.DataFrame(value_counts)
df_value_counts = df_value_counts.reset_index()
df_value_counts.columns = ['STUDENT_ID', 'NUMBER OF PARTICIPATIONS (ALL TIME)'] # change column names
df_value_counts3 = pd.merge(df_value_counts, students, how = 'outer', on = 'STUDENT_ID')

In [4]:
class_mean = df_value_counts3.groupby('CLASS_ID')['NUMBER OF PARTICIPATIONS (ALL TIME)'].mean()
# converting to df and assigning new names to the columns
class_mean = pd.DataFrame(class_mean)
class_mean = class_mean.reset_index()
class_mean.columns = ['CLASS_ID', 'NoP AVERAGE BY CLASS (ALL TIME)'] # change column names
final = pd.merge(df_value_counts3, class_mean, how = 'outer', on = 'CLASS_ID')
# final.rename(columns = {"NoP Average by Class_y": "NoP AVERAGE BY CLASS (ALL TIME)"}, inplace= True)
final

,STUDENT_ID,NUMBER OF PARTICIPATIONS (ALL TIME),CLASS_ID,STUDENT_NAME_LOCAL,STUDENT_NAME_ENGLISH,STUDENT_AGE,STUDENT_GRADE,STUDENT_SEX,NoP AVERAGE BY CLASS (ALL TIME)
0,126,769,1,唐春英,Rosalie Táng,7,1,Male,674.266667
1,74,714,1,崔敏慧,Agatha Cuī,7,1,Male,674.266667
2,277,712,1,邱晴照,Hahn Qiū,7,1,Male,674.266667
3,230,703,1,萧温书,Kidd Xiāo,7,1,Female,674.266667
4,198,701,1,赖幻桃,Ariana Lài,7,1,Female,674.266667
...,...,...,...,...,...,...,...,...,...
295,85,654,4,龙欣嘉,Amiee Lóng,10,4,Male,668.750000
296,159,652,4,任欣可,Deandre Rén,10,4,Female,668.750000
297,199,648,4,龚夏真,Izabella Gōng,10,4,Female,668.750000
298,261,637,4,范婉淑,Gardner Fàn,10,4,Female,668.750000
299,132,633,4,曹运珊,Amy Cáo,10,4,Male,668.750000

In [21]:
print(final[['STUDENT_ID', 'NUMBER OF PARTICIPATIONS (ALL TIME)']].to_string())

     STUDENT_ID  NUMBER OF PARTICIPATIONS (ALL TIME)
0           126                                  769
1            74                                  714
2           277                                  712
3           230                                  703
4           198                                  701
5           123                                  697
6           131                                  695
7           256                                  691
8           288                                  684
9           246                                  684
10          241                                  683
11          223                                  682
12           33                                  677
13          134                                  676
14          272                                  675
15          109                                  672
16          267                                  671
17          294                                  668
18           93                                  666
19          194                                  665
20           42                                  663
21          274                                  659
22          160                                  656
23          283                                  647
24          168                                  646
25           21                                  641
26            4                                  638
27          141                                  633
28           95                                  633
29          222                                  627
30            5                                  751
31          197                                  746
32           28                                  745
33           41                                  723
34          249                                  720
35          110                                  711
36           45                                  710
37          268                                  709
38           97                                  706
39          245                                  696
40          265                                  695
41          228                                  691
42          200                                  689
43           98                                  689
44           20                                  687
45          184                                  687
46           79                                  685
47          104                                  685
48          144                                  684
49          185                                  684
50          270                                  684
51           48                                  683
52           26                                  683
53          145                                  682
54           81                                  682
55          106                                  682
56           65                                  681
57          219                                  681
58          148                                  680
59          171                                  674
60            9                                  673
61          195                                  673
62           52                                  672
63           32                                  672
64           43                                  670
65          262                                  670
66          205                                  668
67          166                                  668
68          105                                  668
69          295                                  667
70          266                                  667
71           23                                  666
72           60                                  666
73          157                                  666
74           29                                  666
75          124                                  665
76          233                                  664
77          149                                  662
78           90                                  662
79          253                                  661
80          280                                  659
81           73                                  657
82          244                                  657
83          247                                  656
84          137                                  655
85          136                                  655
86          252                                  654
87          235                                  653
88           83                                  653
89          212                                  653
90           99                                  652
91          181                                  652
92          170                                  647
93          125                                  646
94          169                                  645
95          202                                  644
96          175                                  642
97           10                                  641
98          186                                  640
99          289                                  640
100         128                                  639
101         300                                  639
102         196                                  637
103          62                                  636
104         122                                  636
105          15                                  634
106         282                                  632
107         146                                  629
108         102                                  623
109         284                                  621
110          13                                  617
111         278                                  617
112         290                                  616
113         279                                  610
114           2                                  604
115         239                                  595
116          49                                  740
117         143                                  724
118          38                                  694
119         118                                  691
120         100                                  691
121         204                                  684
122           6                                  680
123         257                                  680
124         163                                  678
125         191                                  677
126          89                                  676
127         138                                  675
128         127                                  674
129         215                                  673
130          68                                  672
131         232                                  668
132         237                                  666
133         152                                  661
134          55                                  658
135          70                                  657
136         276                                  657
137          34                                  653
138         238                                  653
139         242                                  653
140          24                                  651
141         177                                  645
142         142                                  636
143         120                                  636
144         271                                  636
145         298                                  634
146         135                                  633
147         221                                  625
148         243                                  620
149         297                                  722
150          14                                  708
151          25                                  697
152         113                                  697
153         220                                  693
154          18                                  692
155         150                                  690
156          66                                  688
157         164                                  685
158         218                                  681
159          51                                  680
160         209                                  679
161         291                                  679
162         296                                  678
163          87                                  677
164         103                                  674
165         250                                  672
166         130                                  672
167         190                                  666
168         153                                  664
169          64                                  664
170         119                                  662
171          92                                  659
172          88                                  656
173          36                                  655
174         273                                  652
175          47                                  651
176         201                                  650
177         264                                  647
178         240                                  647
179         229                                  646
180         121                                  643
181         174                                  642
182          76                                  641
183         214                                  640
184         234                                  632
185          67                                  617
186          30                                  604
187         182                                  714
188         248                                  703
189          19                                  702
190          75                                  702
191         162                                  701
192          58                                  697
193         156                                  696
194         179                                  695
195          56                                  689
196           8                                  688
197         133                                  686
198         151                                  685
199          69                                  683
200         154                                  683
201          17                                  682
202         180                                  682
203         213                                  681
204         210                                  679
205          82                                  679
206          22                                  679
207         108                                  678
208          80                                  677
209         285                                  673
210         188                                  671
211         114                                  668
212         260                                  664
213         251                                  664
214          46                                  664
215         224                                  663
216         161                                  660
217         216                                  660
218         139                                  658
219         275                                  658
220          59                                  657
221         140                                  655
222          37                                  648
223         207                                  647
224         155                                  646
225         189                                  644
226         208                                  643
227         165                                  643
228          94                                  642
229          50                                  637
230         183                                  635
231         176                                  632
232         193                                  632
233         158                                  629
234          57                                  627
235         211                                  626
236         259                                  696
237         255                                  694
238         129                                  694
239         172                                  692
240         167                                  686
241         203                                  683
242          54                                  683
243         263                                  682
244         287                                  680
245           3                                  679
246          63                                  678
247         101                                  676
248          53                                  675
249           7                                  670
250         111                                  669
251         292                                  669
252         299                                  665
253           1                                  665
254         178                                  664
255          16                                  664
256         293                                  662
257         231                                  661
258          12                                  659
259         217                                  659
260          39                                  658
261          71                                  655
262          72                                  654
263         227                                  653
264          31                                  652
265          44                                  649
266          84                                  641
267          61                                  628
268          35                                  626
269         192                                  622
270          96                                  616
271         286                                  591
272         116                                  692
273         236                                  691
274          11                                  690
275         173                                  687
276          91                                  685
277         112                                  684
278         115                                  682
279          78                                  681
280         225                                  679
281         206                                  678
282         147                                  674
283          40                                  674
284          86                                  673
285          77                                  671
286         254                                  668
287         187                                  668
288         117                                  665
289         258                                  664
290         269                                  661
291          27                                  661
292         281                                  658
293         107                                  658
294         226                                  657
295          85                                  654
296         159                                  652
297         199                                  648
298         261                                  637
299         132                                  633

In [15]:
class_id = students[['STUDENT_ID', 'CLASS_ID']]
part = pd.merge(participation, class_id, on = 'STUDENT_ID')
part1 = part.groupby(['STUDENT_ID', 'PARTICIPATION_DATE'])['PARTICIPATION_TYPE'].count()
part1 = pd.DataFrame(part1)
part1 = part1.reset_index()
part1

        STUDENT_ID PARTICIPATION_DATE  PARTICIPATION_TYPE
0                1         2013-12-06                   1
1                1         2013-12-08                   1
2                1         2013-12-12                   3
3                1         2013-12-13                   1
4                1         2013-12-14                   3
...            ...                ...                 ...
120895         300         2015-07-25                   1
120896         300         2015-07-26                   1
120897         300         2015-07-27                   1
120898         300         2015-07-28                   2
120899         300         2015-07-30                   2

[120900 rows x 3 columns]

## TEACHER REPORTS

In [ ]:
# Determine which students in the class are participating the least per class
    # Plot each class with students on the x axis and average participations per day on the y axis.